@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primaryBg: #0E5E6F;
  --secondBg: #0D4F5C;
  --secondary: #B8F56A;
  --brownColor: #F8C1A2;
  --btn: #f2deba;
  --grey: #454545;
  --deepBlue: #0D2D5C;
  --grey2: #4D4D4D;
  --white: rgb(235, 235, 235);
  --black: rgb(29, 29, 29);
}

#Visible{
  display: block;
}
#hide{
  transform: translateY(-1000%);
  transition: all 3s ease;
}